:root {
  --dark-grey: #0f0e0e;
  --z-black: #010006;
  --z-grey: #292929;
  --z-blue: #414bb2;
  --z-red: #ee2238;
  --z-red-dark: #ae1929;

  --text-size-xxl: 4rem;
  --text-size-xl: 3rem;
  --text-size-l: 2rem;
  --text-size-m: 1.25rem;
  --text-size-s: 1.125rem;
  --text-size-xs: 1rem;

  --card-border-radius: 0.5rem;
}

body {
  margin: 0;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.825em;
  line-height: 1.5;
  color: white;
  height: 100vh;
  background: black;
}

p {
  hyphens: initial;
}

#sapper {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  text-align: center;
  font-size: var(--text-size-xl);
}

h2 {
  font-size: var(--text-size-m);
}

h3 {
  font-size: var(--text-size-s);
}

p {
  font-size: var(--text-size-s);
}

.text-xs {
  font-size: 0.875rem;
  line-height: 1.125rem;
  margin: 0;
}

a {
  color: inherit;
}

@media (max-width: 768px) {
  h1 {
    font-size: var(--text-size-xl);
  }

  h2 {
    font-size: var(--text-size-m);
  }

  p {
    font-size: var(--text-size-xs);
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
